{% extends 'base.html' %}


{% block content %}
<br>
<br>
<br>
<div class="container">
  <div class="container">
    <div class="section-title text-center">
        <h2>Players performances for previous matches  </h2>

    </div>
  </div>  
<table class="table" style="text-align: center;">
  <!--Table head -->
  <thead>
    <tr>
      <th><h4>Match ID</h4></th>
      <th><h4>Country-1</h4></th>
      <th><h4>Country-2</h4></th>
      <th><h4>Check Performance</h4></th>
    </tr>
  </thead>
  <tbody>
  	{% for match in completed_matches %}
  	<tr>
  		<td><p style="font-size:14px;">{{forloop.counter}}</p></td>
  		<td><p style="font-size:14px;">{{match.coun1}}</p></td>
  		<td><p style="font-size:14px;">{{match.coun2}}</p></td>
  		<td><p style="font-size:14px;"><a href="{%url 'performances' match.matchid%}">Click here</a></p></td>
  	</tr>
  	{% endfor %}

  </tbody>
  </table>
  </div>
{% endblock %}